// Calendar
// Full Calendar selectors removed (Aug. 2022)

@media (min-width: breakpoint-min(lg)) {
    .col1 .table-responsive > .caltable {
        table-layout: auto;
        .weeks { padding: 8px; }
    }
    .wp-trackercalendar {
        min-height: 30em;
    }
}

@media (max-width: breakpoint-max(sm)) {
    .tiki_calendar .col1 #editcalitem {
        .modal-body {
            padding-left: 0;
            padding-right: 0;
        }
    }

    #editcalitem {
        .wikitext .summary { padding-top: 0 !important; }
        label { padding-bottom: 0; font-weight: bold; }
    }

    #filtercal {
        left: 0;
    }
}

.tiki_calendar {
    .ec-event {
        padding: 5px; 
        border: none; 
        border-radius: 10px; 
    }

    .ec-event .ec-event-time {
        font-size: 0.7rem;
    }

    .ec-event .ec-event-main-frame {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: breakpoint-max(sm)) {
    .tiki_calendar {
        .ec-event .ec-event-time {
            display: none;
        }
        .ec-event .ec-event-title {
            display: "-webkit-box";
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            font-size: 0.7rem;
        }
    }
}
                   
.ec-today {
    .ec-day-head {
        background-color: #dfdfdf;
    }
}

h4.ec-day-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ec-day-head {
    height: 1.4rem;
    width: 1.4rem;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px 5px 0px 0px;
    border-radius: 50%;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: #1977db;
        color: #fff;           
        cursor: pointer;
    }
}

.ec-semester-view .ec-day-head, .ec-quarter-view .ec-day-head {
    width: fit-content;
    border-radius: 8px;
}